* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   display: flex;
   height: 100vh;
   width: 80%;
   margin: 0 auto;
}

.slider {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: auto;
   width: 100%;
   height: 80%;
}

.images img {
   height: 800px;
}

.fas {
   cursor: pointer;
}
